header {
  background-color: hsl(197,16%,22%);
}
h1 {
  color:  hsl(32,10%,95%);
  <h1 style: font-family:Georgia,serif> </h1>
}
header  {
  background-image: url("barnc.jpg");
}
h1 {
  text-align: right;
  margin: 0;
  padding-right: 0px;
